body {
    background-image: url("https://cdn.pixabay.com/photo/2017/04/05/01/20/wood-2203740_1280.jpg");
    color:white;
    font-family: 'PT Sans Narrow', sans-serif;
}

header, footer {
    width:100%;
    background-color: black;
    font-family:  'Cookie', cursive;
    color:white;
    padding:5px;
}

header {
    position:absolute;
    left:0px;
    top:0px;
}

a {
    color:white;
}

#tel:hover {
    color:white !important;
}

nav {
    height:10vh;
}

ul {
    width:100%;

    text-align: center;
}

li {
   font-size:1.4rem;
    width:15%;
    display: inline-block;
    text-align: center;
    font-family: 'Cookie', cursive;
}

a:hover {
    color:#FFD77F;
}

#logo {
    position:absolute;
    left:2%;
    top:15px;
}

.slider {
    width:100%;
    height:25%;
    background-color:black;
    background-image: url("https://cdn.pixabay.com/photo/2017/12/09/08/18/pizza-3007395_1280.jpg");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: right;
    position:absolute;
    left:0px;
    top:10vh; 
}


.slider span {
    position: absolute;
    top:15%;
    left:0px;
    width:50vw;
    margin-left:2%;
    padding-left:2%;
    border-bottom: 5px solid #ccccca;
}

button {
    position:absolute;
    top:26%;
    height: 30px;
    width: 200px;
}

button:hover {
    border:3px solid #333333 !important;
    color:#333333 !important;
    background-color:black !important;
}

#zamow {
    color:#7FD7FF;
    background-color:black;
    border:2px solid #7FD7FF;
    left:2%;
}



#rezerwacja {
    left:18%;
    background-color: #936c02;
    color:#FFD77F;
    border:2px solid #FFD77F;
    
}

.obrazki {
    width:95%;
    height:20vh;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 8%;
    position: absolute;
    top:40vh;
    left:2.5%;
}

.obrazki div {
    border: solid 3px black;
    background-size: cover;
    text-align: left;

}

#skladniki {
    background-image: url("https://cdn.pixabay.com/photo/2016/05/24/13/29/olive-oil-1412361__340.jpg");
}

#receptura {
    background-image: url("https://cdn.pixabay.com/photo/2016/05/06/12/15/cook-1375788_960_720.jpg");
}

#dostawa {
    background-image: url("https://cdn.pixabay.com/photo/2020/02/10/18/31/motor-scooter-4837310_960_720.jpg");
}


.pizza {
    width:100%;
    height:50vh;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 3fr 1fr;
    background-color: black;
    position: absolute;
    top:65vh;
    left:1.3%;

}


#pizza1 {
    background-image: url("https://cdn.pixabay.com/photo/2017/12/05/20/10/pizza-3000285_960_720.png");

}
#pizza2  {
    background-image:url("https://cdn.pixabay.com/photo/2017/01/03/11/33/pizza-1949183__340.jpg") ;
}
#pizza3  {
    background-image:url("https://cdn.pixabay.com/photo/2018/03/06/13/47/food-3203445_960_720.jpg") ;
}
#pizza4 {

    background-image:url("https://cdn.pixabay.com/photo/2016/05/05/09/19/pizza-1373508_960_720.jpg");

}

.pizza div {

    background-color:black;
    background-size: cover;
    border-top: 30px solid black;
    width: 300px;
    height: 80%;
}


.pizza span {
    text-align: center;
    width: 300px;
    height: 80%;
}


footer {
    position:absolute;
    top:120vh;
    left:0px;
    height:5vh;
    background-color:black;
    text-align: center;
    
}

footer a {
    width:10%;
    display: inline-block;
}



